@inherits LayoutComponentBase

<PageTitle>Routeplanner</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <i class="fas fa-sign-in-alt" @onclick="() => LoginDisplayRef?.ToggleModal()"></i>
            <LoginDisplay @ref="LoginDisplayRef" />
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
	private LoginDisplay? LoginDisplayRef;
}
